<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="bi bi-camera-reels"></i>
      <span>Movieworld</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="popular">Beliebteste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="top-rated">Bestbewertet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="favorites">Favoriten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="discover">Entdecken</a>
        </li>
      </ul>

      <form *ngIf="!isOnSearchPage" class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               formControlName="searchInput">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
      </form>
    </div>
  </div>
</nav>
